# Katherine's Notebook

In [1]:
import pandas as pd                     
import matplotlib.pyplot as plt      
import numpy as np        
import pandas
import matplotlib as plt
from os import listdir
from os.path import isfile, join
import csv

mypath="../resources/raw/Aqi_cbsa"
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [54]:
print(len(onlyfiles))
#onlyfiles

41

In [3]:
#create dataframe of list of files
dfs=[]
for file in onlyfiles: 
    try:
        dfs.append(pd.read_csv(mypath+"/"+file))
    except: 
        print(file)
len(dfs)

41

In [55]:
# name dfs[0]
df_initial=dfs[0]
merge_df=df_initial
#merge_df

In [5]:
#
print(merge_df.shape)
for df in dfs[1:]: 
    merge_df = pd.concat([merge_df, df])
print(merge_df.shape)

(539, 19)
(19823, 19)

In [6]:
merge_df
#note: SO2 =sulfur dioxide, CO=Carbon monoxide, NO2=Nitrogen Dioxide, Ozone=O3, 
#PM2.5=particulate matter smaller than 2.5micrometes, PM10=particulate mattersmaller than 10 micrometers
#https://www.epa.gov/outdoor-air-quality-data/about-air-data-reports

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,"Adrian, MI",10300,1999,183,116,49,17,1,0,0,151,97,44,0,0,183,0,0,0
1,"Aguadilla-Isabela, PR",10380,1999,55,50,5,0,0,0,0,64,49,24,0,0,0,0,55,0
2,"Akron, OH",10420,1999,365,72,191,85,16,1,0,208,131,74,0,0,87,115,162,1
3,"Alamogordo, NM",10460,1999,52,51,0,0,1,0,0,175,29,13,0,0,0,0,0,52
4,"Albany, GA",10500,1999,104,35,66,3,0,0,0,111,91,59,0,0,0,0,90,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,"Yakima, WA",49420,1983,225,142,81,2,0,0,0,118,79,41,225,0,0,0,0,0
323,"York-Hanover, PA",49620,1983,359,199,103,29,23,5,0,217,129,49,0,184,121,54,0,0
324,"Youngstown-Warren-Boardman, OH-PA",49660,1983,365,137,156,51,19,2,0,218,123,62,21,71,99,174,0,0
325,"Yuba City, CA",49700,1983,184,87,66,26,4,1,0,203,108,58,0,0,184,0,0,0
326,"Yuma, AZ",49740,1983,316,267,36,11,2,0,0,169,67,3,181,0,135,0,0,0

In [19]:
#number of rows for each year
merge_year_count=merge_df["Year"].value_counts().sort_index()

In [42]:
file="../resources/raw/cities_list.csv"
cities=pd.read_csv(file) 
#drop duplicates
cities=cities.drop_duplicates(subset=['City'])
#make cities df into a list
cities_list=cities["City"].tolist()
len(cities_list)

75

In [43]:
#split CBSA into City, ST
merge_df[['City','ST']]=merge_df['CBSA'].str.split(',',expand=True)
merge_df

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,City,ST
0,"Adrian, MI",10300,1999,183,116,49,17,1,0,0,...,97,44,0,0,183,0,0,0,Adrian,MI
1,"Aguadilla-Isabela, PR",10380,1999,55,50,5,0,0,0,0,...,49,24,0,0,0,0,55,0,Aguadilla-Isabela,PR
2,"Akron, OH",10420,1999,365,72,191,85,16,1,0,...,131,74,0,0,87,115,162,1,Akron,OH
3,"Alamogordo, NM",10460,1999,52,51,0,0,1,0,0,...,29,13,0,0,0,0,0,52,Alamogordo,NM
4,"Albany, GA",10500,1999,104,35,66,3,0,0,0,...,91,59,0,0,0,0,90,14,Albany,GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,"Yakima, WA",49420,1983,225,142,81,2,0,0,0,...,79,41,225,0,0,0,0,0,Yakima,WA
323,"York-Hanover, PA",49620,1983,359,199,103,29,23,5,0,...,129,49,0,184,121,54,0,0,York-Hanover,PA
324,"Youngstown-Warren-Boardman, OH-PA",49660,1983,365,137,156,51,19,2,0,...,123,62,21,71,99,174,0,0,Youngstown-Warren-Boardman,OH-PA
325,"Yuba City, CA",49700,1983,184,87,66,26,4,1,0,...,108,58,0,0,184,0,0,0,Yuba City,CA
326,"Yuma, AZ",49740,1983,316,267,36,11,2,0,0,...,67,3,181,0,135,0,0,0,Yuma,AZ

In [52]:
city_merge=merge_df[merge_df['City'].isin(cities_list)]

In [56]:
#year count 
city_merge_yr_count=city_merge["Year"].value_counts().sort_index()

In [46]:
#sort by year
city_merge=city_merge.sort_values(by=['Year'])
city_merge

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,City,ST
137,"Knoxville, TN",28940,1980,366,34,162,120,44,6,0,...,161,94,55,0,69,242,0,0,Knoxville,TN
2,"Albuquerque, NM",10740,1980,366,160,155,30,12,9,0,...,118,54,126,48,192,0,0,0,Albuquerque,NM
195,"Oklahoma City, OK",36420,1980,366,213,121,21,10,1,0,...,97,47,7,181,178,0,0,0,Oklahoma City,OK
304,"Washington, NC",47820,1980,257,170,25,24,38,0,0,...,200,14,0,0,0,257,0,0,Washington,NC
303,"Washington, IN",47780,1980,179,78,71,29,1,0,0,...,110,54,0,0,0,179,0,0,Washington,IN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,"Albany, GA",10500,2020,85,56,29,0,0,0,0,...,74,37,0,0,0,0,85,0,Albany,GA
132,"Harrisonburg, VA",25500,2020,20,18,2,0,0,0,0,...,52,24,0,0,0,0,20,0,Harrisonburg,VA
112,"Fort Wayne, IN",23060,2020,91,69,22,0,0,0,0,...,55,38,0,0,42,0,49,0,Fort Wayne,IN
305,"Tulsa, OK",46140,2020,92,83,9,0,0,0,0,...,49,37,1,0,54,0,36,1,Tulsa,OK
221,"Oklahoma City, OK",36420,2020,92,79,13,0,0,0,0,...,54,37,1,3,46,0,41,1,Oklahoma City,OK

In [80]:
#groupby YEAR to get averages
#avg count of days in good, mod, unhealthy, very unhealhy and hazardous
days_avg_byyear=city_merge.groupby("Year")[["Good Days","Moderate Days","Unhealthy Days",
                                        "Very Unhealthy Days","Hazardous Days"]].mean()
#groupby year to get avg max AQI
aqi_byyear=city_merge.groupby("Year")[["Max AQI", "90th Percentile AQI", "Median AQI"]].mean()
#avg count of days air pollutants year
air_pol_avg_yr=city_merge.groupby("Year")[["Days Ozone", "Days CO", "Days NO2", "Days SO2"]].mean()
#avg count of days air particulate matter 
air_pm=city_merge.groupby("Year")[["Days PM2.5","Days PM10"]].mean()
days_avg_byyear

,Good Days,Moderate Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days
Year,,,,,
1980,132.913043,113.347826,22.130435,3.869565,0.000000
1981,143.791667,112.583333,27.583333,1.958333,0.000000
1982,161.333333,108.625000,14.750000,1.458333,0.000000
1983,161.791667,115.416667,16.416667,2.125000,0.000000
1984,152.083333,124.458333,15.750000,1.625000,0.000000
1985,146.730769,117.192308,13.153846,1.115385,0.000000
1986,155.222222,105.037037,10.407407,0.481481,0.000000
1987,164.689655,95.965517,11.586207,1.000000,0.034483
1988,164.965517,99.344828,16.551724,2.931034,0.000000
1989,183.200000,90.366667,9.833333,0.433333,0.000000
1990,176.566667,83.600000,9.300000,0.666667,0.000000
1991,179.600000,80.333333,7.900000,0.400000,0.000000
1992,197.900000,79.100000,5.300000,0.133333,0.000000
1993,197.586207,84.034483,6.379310,0.275862,0.000000
1994,192.172414,84.862069,7.275862,0.379310,0.000000
1995,203.965517,78.931034,8.793103,0.965517,0.000000
1996,197.586207,79.000000,6.448276,0.344828,0.000000
1997,183.466667,76.233333,5.733333,0.366667,0.000000
1998,195.241379,81.206897,8.413793,1.137931,0.000000
1999,151.500000,105.968750,8.656250,0.656250,0.000000
2000,152.727273,110.515152,4.545455,0.515152,0.000000
2001,165.909091,112.909091,4.030303,0.090909,0.030303
2002,159.515152,109.696970,6.848485,0.363636,0.060606
2003,160.212121,115.727273,3.272727,0.393939,0.000000
2004,172.000000,114.484848,2.151515,0.060606,0.000000
2005,167.575758,115.939394,4.454545,0.151515,0.000000
2006,172.151515,114.696970,3.575758,0.212121,0.000000
2007,166.375000,131.593750,3.875000,0.125000,0.000000
2008,188.129032,131.322581,2.129032,0.000000,0.000000
2009,208.906250,114.031250,1.468750,0.000000,0.000000
2010,200.483871,130.129032,1.387097,0.032258,0.032258
2011,203.354839,127.032258,2.064516,0.032258,0.000000
2012,222.633333,117.700000,2.166667,0.200000,0.000000
2013,238.687500,99.937500,0.781250,0.062500,0.000000
2014,245.968750,99.500000,0.187500,0.000000,0.000000
2015,247.156250,91.968750,0.656250,0.031250,0.000000
2016,267.064516,80.096774,0.419355,0.000000,0.000000
2017,268.516129,84.354839,0.612903,0.064516,0.064516
2018,259.354839,85.225806,1.161290,0.129032,0.000000
2019,268.935484,88.645161,0.193548,0.000000,0.000000
2020,73.227273,11.500000,0.000000,0.000000,0.000000

In [79]:
#Group by Year AND City  

#groupby year to get averages of days 
days_avg_yr_city=city_merge.groupby(['Year','City'], as_index=False)[["Good Days","Moderate Days","Unhealthy Days",
                                        "Very Unhealthy Days","Hazardous Days"]].mean()
#groupby year to get avg max AQI
aqi_yr_city=city_merge.groupby(['Year','City'], as_index=False)[["Max AQI", "90th Percentile AQI", "Median AQI"]].mean()
#avg count of days air pollutants year
pol_yr_city=city_merge.groupby(['Year','City'], as_index=False)[["Days Ozone", "Days CO", "Days NO2", "Days SO2"]].mean()
#avg count of days air particulate matter 
pm_yr_city=city_merge.groupby(['Year','City'], as_index=False)[["Days PM2.5","Days PM10"]].mean()
days_avg_yr_city

,Year,City,Good Days,Moderate Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days
0,1980,Albuquerque,160.0,155.0,12.0,9.0,0.0
1,1980,Baton Rouge,205.0,74.0,13.0,14.0,0.0
2,1980,Charleston,171.0,140.0,1.0,0.0,0.0
3,1980,Columbia,158.0,124.0,16.0,1.0,0.0
4,1980,Columbus,100.5,105.0,10.5,0.5,0.0
...,...,...,...,...,...,...,...
931,2020,Santa Fe,91.0,0.0,0.0,0.0,0.0
932,2020,St. Louis,29.0,31.0,0.0,0.0,0.0
933,2020,Syracuse,80.0,11.0,0.0,0.0,0.0
934,2020,Tulsa,83.0,9.0,0.0,0.0,0.0
935,2020,Washington,91.0,0.0,0.0,0.0,0.0